.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .5rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;


}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardHeader{
    display: flex;
    flex-direction: column;
    background-color: #272927;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 12px;
}

.timestamp{
    background-color: black;
    padding: 8px;
    padding-left: 14px;
    padding-right: 14px;
    width: max-content;
    border-radius: 1rem;
    margin-top: -16px;
}

.timestamp p{
    color: #37c7da;
    font:900;
}

/* connect wallet */

.connectWallet{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 1rem;
}

.walletBtn{
    /* color:black; */
    background-color: #5b5beb;
    padding:  1rem;
    border-radius: .3rem;
    margin-top: .3rem;
    cursor: pointer;
    border: 0;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;

    transition: .3s;
}

.walletBtn:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #4a4ae8;

}
