.container{
    display: flex;
    flex-direction: column;
    background-color: #253965;
    /* height: 100vh; */
    /* max-height: 130vh; */
    width: 20vw;
    min-width: 220px;

}
.arrowButton{
    margin: .5rem 0;
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
}

.container a{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap:.3rem;
    padding: 1rem;
    transition: .3s;
}

.container a:first-child{
    margin-top: 1rem;
}
.container a:hover{
    background-color: #152953;
}
